# Master Config
[mysqld]
server-id=1
log-bin=mysql-bin
default-time-zone=+09:00

# GENERAL #
user=mysql
default-storage-engine=INNODB
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

# replication foramt
binlog-format=MIXED
lower-case-table-names=0
innodb-log-file-size=2G
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
explicit-defaults-for-timestamp=1

# MyISAM #
key-buffer-size=32M

# SAFETY #
max-allowed-packet=16M
max-connect-errors=1000000

# DATA STORAGE #
datadir=/var/lib/mysql

# BINARY LOGGING #
expire-logs-days=7
sync-binlog=1

# CACHES AND LIMITS #
tmp-table-size= 32M
max-heap-table-size= 32M
query-cache-type= 0
query-cache-size= 0
max-connections=500
thread-cache-size=50
open-files-limit=65535
table-definition-cache=4096
table-open-cache=4096

# INNODB #
innodb-flush-method=O_DIRECT
innodb-log-files-in-group=2
innodb-log-file-size=256M
innodb-flush-log-at-trx-commit=1
innodb-file-per-table=1
innodb-buffer-pool-size=1G
innodb-file-format=barracuda
innodb-large-prefix=ON

# LOGGING #
log-error=/var/log/mysqld.log
# not using index of queries
log-queries-not-using-indexes=0
long-query-time=2
slow-query-log=1
slow-query-log-file=/var/lib/mysql/mysql-slow.log